@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100,300,400;0,700;1,300&display=swap');
$fontBannerPezinhoHomeDestaque: 56px;
$fontBannerPezinhoHome: 36px;
$fontTitleBlack: 24px;
$fontTitle: 20px;
$fontText: 16px;
$fontSmall: 12px;