@import 'backgrounds';
@import 'buttons';
@import 'colors';
@import 'fonts';
@import 'mixins';
@import 'reset';
@import 'variables';

.headerCenter {
    width: 100%;
    height: auto;
    @include justifyBetween;

    .logoTop {
        display: flex;

        img {
            display: flex;
            max-width: 100%;
            max-height: 100%;
        }
    }

    nav {
        ul {
            display: flex;
            margin: 0;
            padding: 0;
            z-index: 9999;

            li {
                list-style: none;
                position: relative;
                padding: 10px;
                margin: 5px;

                a {
                    text-decoration: none;
                    color: $textGreen;
                    display: block;

                    &:hover {
                        color: $textGreenHover;
                    }
                }

                &.btnNav {
                    background: $bgBtnNav;
                    border-radius: 30px;
                    padding: 0;

                    a {
                        color: $textGray;
                        display: block;
                        padding: 10px 15px;
                    }

                    &.btnNav:hover {
                        transition: .6s;
                        background: $bgBtnNavHover;
                    }
                }

                ul {
                    position: absolute;
                    left: 0;
                    display: none;

                    li {
                        display: block;
                        width: 200px;
                        margin: 5px 0;
                        border-bottom: 1px solid rgba(148, 148, 148, 0.158);

                        &:nth-child(3) {
                            border: none;
                        }
                    }
                }

            }

            .active ul {
                display: block;
                background: #fff;
            }

        }
    }

    .menu-toggle {
        color: $textGreen;
        font-size: 24px;
        line-height: 50px;
        cursor: pointer;
        display: none;
    }
}

.slider {
    width: 100%;
    height: 500px;
    background: #fc0;
    display: flex;
}

.highlightsHome,
.checkUpHome {
    @include resetDiv;

    .highlightsTitle,
    .checkUpTitle {
        width: 100%;
        height: auto;
        margin: 2% 0;
        text-align: center;

        h2 {
            @include textTitle;
        }
    }

}

.highlights,
.checkUp {
    width: 100%;
    height: auto;
    @include justifyBetween;

    .highligthsBox,
    .checkUpBox {
        @include column;
        @include highligthsBox;

        .img {
            @include center;
            width: 120px;
            height: 120px;
            padding: 20px;
            border-radius: 50%;
            background: $bgWhite;

            img {
                @include img;
            }
        }

        &:hover {
            transition: .5s;
            color: $textGray;
            background: $bgHighligthsBoxHover;

            h2 {
                color: $textGray;
            }

            p {
                color: $textGray;
            }

        }

        h2 {
            font-size: $fontTitle;
            color: $textGreen;
            text-transform: uppercase;
            text-align: center;
        }

        p {
            font-size: $fontText;
            color: $textDarkGray;
            text-align: center;
            padding: 0 30px;
        }

    }
}

.bannerHome {
    @include bannerHome;

    .bannerHomeLeft {
        width: 40%;
        height: auto;
        padding: $paddinUpDown;

        h2 {
            font-size: $fontBannerPezinhoHome;
            text-transform: uppercase;
            color: $textGray;
            padding: 0;
            margin: 0;
        }

        h1 {
            @extend h2;
            font-size: $fontBannerPezinhoHomeDestaque;
            font-weight: 100;
        }

        p {
            color: $textGray;
            font-size: $fontText;
        }

        .btnBannerHome {
            background: $bgBbtBannerHome;
            border: none;
            border-radius: 30px;

            a {
                text-decoration: none;
                color: $textGray;
                text-transform: uppercase;
                display: block;
                padding: 10px 30px;
            }

            &:hover {
                transition: .7s;
                background: $bgBbtBannerHomeHover;
            }
        }
    }
}

footer {
    @include resetFooter;
}

.info {
    width: 100%;
    height: auto;
    @include center;

    p {
        font-size: $fontSmall;
        color: $textDarkGray;
    }
}

.footerInternal {
    @include justifyBetweenFooter;

    .footerLeft,
    .footerCenter,
    .footerRight {
        width: 30%;
    }

    .footerLeft {
        a {
            @include footerLeftLogo;
        }

        span {
            font-size: $fontTitleBlack;
            display: inline-block;
            margin: 2% 2% 0 0;

            a {
                text-decoration: none;
                color: $textGreenHover;
            }
        }

    }

    .footerCenter {
        background: none;

        ul {
            @include footerCenterUl;

            li {
                font-size: $fontText;
                padding: 2% 0;
                margin: 5px 0;
                width: 100%;
                text-align: center;

                a {
                    display: block;
                    text-decoration: none;
                    color: $textDarkGray;
                    margin: 0;
                    padding: 5px;
                    display: block;
                }
            }
        }
    }

    .footerRight {
        img {
            @include img;
        }
    }
}

@media (max-width: 853px) {
    .headerCenter {
        width: 100%;
        margin: 2% 0;

        .menu-toggle {
            display: block;
            z-index: 9999;
            margin: 1%;
        }

        .active {
            left: 0;
        }

        nav {
            position: absolute;
            width: 100%;
            height: calc(100vh - 90px);
            top: 90px;
            left: -100%;
            transition: .5s;
            
            ul {
                display: block;
                margin-top: 2.5%;
                background: #fff;
                padding: 1% 0;

                li {
                    line-height: 25px;
                    border-bottom: 1px solid rgba(148, 148, 148, 0.158);

                    &.btnNav {
                        width: 50%;
                        padding: 10px;
                        margin: 10px auto;
                    }
                    &:nth-last-child(n)

                    a {
                        margin: 0;
                        padding: 5px 0;
                        text-align: center;
                    }
                }


                .active ul {
                    position: relative;
                    background: $bgHighligthsBox;
                    margin: 0;
                    padding: 0;
                    border: 5px;

                    li {
                        width: 98%;
                        text-align: center;
                        border: none;
                        border-bottom: 1px solid rgba(148, 148, 148, 0.158);

    

                        a {
                            color: #900;


                        }

                    }
                }

            }

        }
    }

}